<%- include ("partials/header") %> 

<div class="row">
  <div class="col-md-12">
    <form action="/forgot" method="POST">
      <legend>Forgot Password</legend>
      <div class="form-group">
        <label for="email"><strong> Email </strong></label>
        <input class="form-control" type="text" name="email" id="email" placeholder="email" required autofocus>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-lg btn-block">Reset Password</button>
      </div>
    </form>
  </div>
</div>
  
<%- include ("partials/footer") %> 