<%- include ("../partials/header") %> 

<h1 style="text-align: center;" class="mb-4">Create a New Accomodation</h1>
<div class="row">
<div class="col-12 col-sm-8 col-md-6 col-lg-4" style="margin: 0 auto;">
  <form action="/accomodations" method="POST">
    <div class="form-group">
      <input class="form-control" type="text" name="name" placeholder="name" required>
    </div>
    <div class="form-group">
      <input class="form-control" type="number" name="price" placeholder="price" min="99" step="50" required>
    </div>
    <div class="form-group">
    <input class="form-control" type="text" name="image" placeholder="image url" required>
    </div>
    <div class="form-group">
      <textarea class="form-control" name="description" rows="3" placeholder="description" required></textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-lg btn-block">Submit!</button>
    </div>
  </form>
  <a href="/accomodations">Go back</a>
</div>
</div>

<%- include ("../partials/footer") %> 